@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.panel-primary>.panel-heading {
color: #000;
background-color: #F2552C;
border-color: #F2552C;
}

a {
color: #F2552C;
text-decoration: none;
}

div#input-box.input-group {
    width: 100%;
}

#main-page {
    width: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#main-page-twitter-feed {
    float: right;
    width: 300px;
    padding-right: 1em;
    padding-top: 2em;
}

#nav {
    width: 400px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

#link-list {
    background: #F0F0F0;   
    border: 2px solid #ff9600;
    text-align: center;
    padding: 0.5em;
    white-space: nowrap;
    width: 100%;
    /*border-bottom: 2px solid #ff9600;*/
}

#link-list > li {
    display: inline-block;
    *display:inline;
}

#link-list > li > a {
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    padding: 3px;
    margin-left: 1.5em;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    /* 
        idea and code from
        http://stackoverflow.com/a/6008409/3026563
    */
}

#link-list > li > a:hover{
    color: #ff9600;
    text-decoration: underline;
}

#halfway-down {
    height: 500px;
    margin-top: 10%;
}

#colored-text-box {
    background-color: #B5BAB6;
    border-radius: 10px;
    padding-left: 10px;
    width: 40%;
    font-weight: 900;
}

#top-page-link-space {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#headline-block {
    background: #ffbf66;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

body#headlines {
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#headlines-links > a {
    color: #b12d0b;
    text-decoration: underline;
}

#headlines-links > a:hover {
    color: #3A3536;
    text-decoration: underline;
}

#footer-main {
    width: 400px;
    /*position: fixed;*/
    bottom: 0;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
}

.instruct {
    margin-left: 2.2em;
    margin-bottom: 0.5em;
    font-size: 14px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* Sortable tables */
table.sortable {
    margin-left: 2em;
    width: 600px;
    border-spacing: 0;
}

table.sortable tr {
    border: 2px solid #ff9600;
    padding: 0;
}

table.sortable th {
    border: 2px solid #ff9600;
}

table.sortable thead {
    background-color:#B5BAB6;
    color:#000000;
    font-weight: bold;
    cursor: default;
}

table.sortable thead th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}