<!DOCTYPE html>
{% autoescape true %}

<html>

<head>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="static/style.css"/>
    <title>SFG Info</title>
</head>

<body>
    <div id="halfway-down">
        <div id="top-page-link-space">
            <div id="colored-text-box"><p><a href="{{ news_url }}">Latest Giants News</a></p></div>
            <div id="colored-text-box"><p><a href="{{ roster_url }}">Current Active Roster</a></p></div>
        </div>
    </div>
</body>

</html>
{% endautoescape %}