<!DOCTYPE html>
{% autoescape true %}

<html>

<head>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="static/style.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="static/android-chrome-manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="static/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SFG Info</title>
</head>

<body>
    <div id="main-page">
        <div id="nav">
            <ul id="link-list">
                <li><a href="{{ news_url }}">Latest Giants News</a></li>
                <li><a href="{{ roster_url }}">Current Active Roster</a></li>
            </ul>
        </div>
        
    </div>

    <div id="main-page-twitter-feed">
        <a class="twitter-timeline" height="450" data-dnt="true" href="https://twitter.com/SFGiants" data-widget-id="563954167098523649">Tweets by @SFGiants</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>

    <div id="footer-main">
            <p>
                <a href="https://github.com/joshwertheim/SFGinfo" target="_blank">SFGinfo</a> &mdash; By Joshua Wertheim
                <br />
                v1.0 &bull; 02/10/2015
            </p>
        </div>
</body>
</html>
{% endautoescape %}